<!-- <div> 
      <% if(Type == 1 ) {  %> 
            <h3 class="center"> Breakfast </h3>
      <% } %>
      <% if(Type == 2) { %>
            <h3 class="center"> Lunch </h3>
      <% } %>
      <% if(Type == 3) { %> 
            <h3 class="center"> Dinner </h3>
      <% } %>

</div> -->
<div class="panel blue">
      <div class="row meal-info">
            <div class="columns small-12">
                  <% if( Subject ) { %>
                        <% if(Subject.HealthRate == 1) { %>
                              <div class="alert-box success meal-name" ><%= Subject.Name %></div>
                              <input type="text" class="edit-title">
                        <% } %>
                        <% if(Subject.HealthRate == 2) { %>
                              <div class="alert-box meal-name " ><%= Subject.Name %><div class="hide edit-title-container"><input type="text" class="edit-title"></div></div>

                        <% } %>
                        <% if(Subject.HealthRate == 3) { %>
                              <div class="alert-box alert meal-name"><%= Subject.Name %></div>
                              <input type="text" class="edit-title">

                        <% } %>
                        <% if(Subject.HealthRate == null && Subject.Name != "") { %>
                              <div class="alert-box secondary meal-name"><%= Subject.Name %></div>
                              <input type="text" class="edit-title">

                        <% } %>
                  <% } else { %>
                        <p class="mealname"> <b> Meal Name: </b> No Subject Provided </p>
                  <% } %>
            </div>
      </div>
      <div class="edit-panel" id= "<%= _id %>" >
            <div class="edit-icons right blue">
                  <i class="foundicon-trash"></i> <span class="delete-link"> Delete </span>
            </div>
            <h3> Secondary Items:  </h3>
            <% _.each(FoodItems, function(item) { %>
                        <% if(item.HealthRate == 1) { %>
                              <div class="alert-box success meal-edit-box" data=<%= item.Name %>><%= item.Name %><span class="delete-fooditem right"> X </span> </div>
                        <% } %>
                        <% if(item.HealthRate == 2) { %>
                              <div class="alert-box meal-edit-box" data=<%= item.Name %>><%= item.Name %><span class="delete-fooditem right"> X </span></div>
                        <% } %>
                        <% if(item.HealthRate == 3) { %>
                              <div class="alert-box alert meal-edit-box" data=<%= item.Name %>><%= item.Name %><span class="delete-fooditem right"> X </span></div>
                        <% } %>
                        <% if(item.HealthRate == null && item.Name != "") { %>
                              <div class="alert-box secondary meal-edit-box"><%= item.Name %><span class="delete-fooditem right"> X </span></div>
                        <% } %>
            <% }); %>
            <div class="new-meal-container">
                  <div class="row">
                        <div class="small-12 large-8 columns">
                              <input class= "new-meal-input" type="text" placeholder="Add New Meal Detail">
                        </div>
                        <div class="small-12 large-4 columns">
                              <form class="custom drop-form">
                                    <div class="custom dropdown">
                                          <a href="#" class="current">Healthy</a>
                                          <a href="#" class="selector"></a>
                                          <ul>
                                                <li>Healthy</li>
                                                <li>Medium</li>
                                                <li>Unhealthy</li>
                                          </ul>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
            <a class="button secondary submit-new-meal-input radius expand">Add Secondary Item</a>
      </div>  
      <div class="row">
            <div class="columns small-12 small-centered">
                  <img id="up-arrow" class="carrot-arrow add-details" src="/images/carrot-arrow-up.png">
<!--                   <i id="up-arrow" class="foundicon-down-arrow add-details"></i>
 -->                        <!-- <div class="button radius success expand add-details <%= _id %> ">Detailed View</div></p> -->
            </div>
      </div>

</div>

