@nice-blue: #5B83AD;
@light-blue: (@nice-blue + #111);
@nice-blue: #0099cc;
@nice-red: #F02425;
@dark-grey-blue: #31313b;
@dark-violet: #4417a6;
@vivid-orange: #eb540a;
@very-dark-blue: #14446a ;
@soft-yellow: #f6f154 ;
@vivid-red: #f31347;
@turk-green: #2dbba6;


body { background-color: #fcfcf9;
		font-size: 16px;
		// line-height: 1.5em;
		color: #3d3f44;
		font-family: "Calibri", "Helvetica", "Arial", sans-serif;

}
p {
	margin-bottom: 1em;
}

hr {
	margin: 						10px 0px;
	border: 						none;
	height: 						1px;
	background-color:				#ccc;
	-webkit-box-shadow: 			0px 1px 0px 0px rgba(255, 255, 255, .75);
	box-shadow: 					0px 1px 0px 0px rgba(255, 255, 255, .75);
}

.center{
	text-align: center;
}

.post-container{
	padding-left: 0;
	padding-right: 0;
}

.border-left{
	border-left: solid 1px;
}

.border-right{
	border-right: solid 1px;
}

.post-it{
	width: 120px;
	height: 120px;
	padding: 10px;
	margin: 10px;
	background-color: @soft-yellow;
//uncomment for shadow
	// -moz-box-shadow:    1px 2px 2px 3px #ccc;
	// -webkit-box-shadow: 1px 2px 2px 3px #ccc;
 //  	box-shadow:         1px 2px 2px 3px #ccc;
}
.drag{
	-moz-box-shadow:    1px 2px 2px 3px #ccc;
	-webkit-box-shadow: 1px 2px 2px 3px #ccc;
  	box-shadow:         1px 2px 2px 3px #ccc;
}


