html(lang='en')
head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')
    meta(name="viewport",content="width=device-width")
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body

    section
        header
            h1 Hello you


//- div.large-4.small-12.columns.signbutton
//-     div
//-         a(href='/auth/google')
//-             img.sign-in(src="images/red-sign-in.png")